.footer {
  max-width: 90rem;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 118, 210);
}

.footer-link {
  padding: 20px 0px 20px 10px;
}

.footer-link a {
  color: rgb(255, 255, 255);
}
