.container {
  max-width: 1230px;
  min-width: 1230px;
  width: 100%;
}

.tile {
  box-sizing: border-box;
  min-height: 200px;
  height: 100%;
  max-width: 580px;
  border: 1px solid #102c5a;
  border-radius: 4px;
  padding: 20px;
}

:host {
  display: block;
  margin-top: 20px;
}

:host-context(.blue-theme) .flex-content {
  background-color: lightblue;
}

:host-context(.grey-theme) .flex-content {
  background-color: lightgrey;
}

@media screen and (max-width: 1279.9px) {
  .container {
    max-width: 580px;
    min-width: unset;
  }
}
