<div>
  <mat-tab-group>
    <mat-tab label="Alert Library Demo"
      ><div>
        <ng-simple-alert></ng-simple-alert>
        <button class="success" (click)="createSuccessMessage()">
          Create success alert
        </button>
        <button class="danger" (click)="createDangerMessage()">
          Create danger alert
        </button>
        <button class="warning" (click)="createWarningMessage()">
          Create warning alert
        </button>
        <button class="info" (click)="createInfoMessage()">
          Create info alert
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Flex Layout Demo">
      <div>
        <div class="grey-theme">
          <app-flex-demo></app-flex-demo>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="To Do Demo"
      ><div><app-todo-list></app-todo-list></div>
    </mat-tab>
  </mat-tab-group>
</div>
