<div>
  <ng-simple-alert></ng-simple-alert>
  <button class="success" (click)="createSuccessMessage()">
    Create success alert
  </button>
  <button class="danger" (click)="createDangerMessage()">
    Create danger alert
  </button>
  <button class="warning" (click)="createWarningMessage()">
    Create warning alert
  </button>
  <button class="info" (click)="createInfoMessage()">Create info alert</button>
  <div class="grey-theme">
    <h2>Total {{ tiles }} tiles.</h2>
    <app-flex-demo></app-flex-demo>
  </div>
</div>
