.header {
  max-width: 90rem;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 118, 210);
}

.header-container {
  display: flex;
  flex-wrap: wrap;
}

.site-name {
  flex-grow: 1;
  padding-left: 10px;
}
